# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/CIFAR/FileContentIndex/10be74d7-fede-403d-be80-e920dfaca2c3.vsidx
.vs/CIFAR/FileContentIndex/10dcab96-6d74-4e8f-89fa-3ce550b28d74.vsidx
.vs/CIFAR/FileContentIndex/5ea48902-3c9d-4cbd-9c17-71eba00890fe.vsidx
.vs/CIFAR/FileContentIndex/790be2c6-6687-48f1-9f94-3979febb1782.vsidx
.vs/CIFAR/FileContentIndex/9e98fd19-1f74-42e3-bfc0-c1f2c638b1c1.vsidx
.vs/CIFAR/v17/.suo
.vs/CIFAR/v17/Browse.VC.db
.vs/CIFAR/v17/Browse.VC.db-shm
.vs/CIFAR/v17/Browse.VC.db-wal
.vs/CIFAR/v17/Browse.VC.opendb
.vs/CIFAR/v17/DocumentLayout.backup.json
.vs/CIFAR/v17/DocumentLayout.json
.vs/CIFAR/v17/ipch/AutoPCH/33984d850c3f1c8f/CIFAR.ipch
.vs/CIFAR/v17/ipch/AutoPCH/9498b41c8fa1cc55/PNG.ipch
.vs/CIFAR/v17/ipch/AutoPCH/e0711dfd8a307857/CIFAR.ipch
.vs/CIFAR/v17/ipch/AutoPCH/eff14b28f60614a6/HUFFMAN.ipch
.vs/CIFAR/v17/ipch/AutoPCH/eff15228f606208b/HUFFMAN.ipch
.vs/CIFAR/v17/Solution.VC.db
cifar-100-binary/coarse_label_names.txt
cifar-100-binary/fine_label_names.txt
cifar-100-binary/fine_label_names.txt~
*.vcxproj
*.filters
*.user
CIFAR/x64/Debug/CIFAR.exe.recipe
CIFAR/x64/Debug/CIFAR.log
CIFAR/x64/Debug/CIFAR.tlog/CIFAR.lastbuildstate
CIFAR/x64/Debug/CIFAR.tlog/CL.command.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/Cl.items.tlog
CIFAR/x64/Debug/CIFAR.tlog/CL.read.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/CL.write.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/link.command.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/link.read.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/link.secondary.1.tlog
CIFAR/x64/Debug/CIFAR.tlog/link.write.1.tlog
/png_save
cifar-100-binary/test.bin
cifar-100-binary/small.bin
CIFAR.sln
